Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^$ index.php [L]
  RewriteRule ^(about|privacy|terms|contact|dmca)/?$ index.php?page=$1 [L,QSA]
</IfModule>
